body {
	background-color: #282828;
	background-image: url(http://www.space.com/images/i/000/000/481/i02/blue-moon-101119-02.jpg?1291043297);
	background-position: center;
	background-repeat: no-repeat;
}
#mattrex{
	font-family:edwardian script itc;
	text-align:center;
	color: #000000;
	font-size:430%;
}
#yay{
	color:navy;
	font-size:140%;
}
#one{
	color:green;
background-color:green;
height: 5px;
}
#photo1{
	display: block;
    margin-left: auto;
  margin-right: auto;
}
marquee {
	color: #333;
	background-color: #eee;
	border: 1px solid;
}
