body {
	color: #FFFFFF;
	/*background-color: #282828;
	background-image: url(http://www.space.com/images/i/000/000/481/i02/blue-moon-101119-02.jpg?1291043297);*/
	background-position: center;
	background-repeat: no-repeat;
}
html { 
  background: url(http://www.space.com/images/i/000/000/481/i02/blue-moon-101119-02.jpg?1291043297) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mattrex{
	font-family:edwardian script itc;
	text-align:center;
	color: #FFFFFF;
	font-size:430%;
}
#yay{
	color:navy;
	font-size:140%;
}
#one{
	color:green;
background-color:green;
height: 5px;
}
#photo1{
	display: block;
    margin-left: auto;
  margin-right: auto;
}
marquee {
	color: #333;
	background-color: #eee;
	border: 1px solid;
}
p {
	color: #FFFFFF;
}
.strokeme
{
    /*color: #FFFFFF;*/
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
