@import url(http://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff&subset=latin,latin-ext);
body {
	color: #FFFFFF;
	/*background-color: #282828;
	background-image: url(http://www.space.com/images/i/000/000/481/i02/blue-moon-101119-02.jpg?1291043297);*/
	background-position: center;
	background-repeat: no-repeat;
}

div {
	display:inline;
}

html { 
  background: url(http://www.space.com/images/i/000/000/481/i02/blue-moon-101119-02.jpg?1291043297) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mattrex{
	font-family:Herr+Von+Muellerhoff;
	text-align:center;
	color: #FFFFFF;
	font-size:430%;
}
#boxred{
	color:#FFFFFF;
	font-size:12pt;
	background-color:Red;
	width:1px;
	margin:6px;
	width:150px;
	padding:5px;}
}
#one{
	color:green;
	background-color:green;
	height: 5px;
}
#photo1{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
marquee {
	color: #333;
	background-color: #eee;
	border: 1px solid;
}
p {
	color: #FFFFFF;
}
.strokeme
{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#winners{
	font-size: 24pt;
}

#load
 {
 color: #E8E8E8;
 position:fixed;
 bottom:10px;
 background-color: #303030;
 border-style: ridge;
 border-color: #500000;
 margin: 1px 50px;
 } 

.high {
	color: 33CCFF;
}
